<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
    <header>
        <h1><a th:href="@{/}">Anderlecht NGO</a></h1>
        <nav>
            <a th:href="@{/}">Evenement</a> |
            <a th:href="@{/alle}">Alle evenementen</a> |
            <a th:href="@{/new}">New</a> |
            <a th:href="@{/about}">About</a>
        </nav>
    </header>
</html>